@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nunito", "Roboto", sans-serif;
  }
}

.swiper-cus {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  z-index: 1;
  display: block;
}

.clip-img {
  clip-path: polygon(0% 0%, 100% 0%, 100% 79.5%, 50% 97.5%, 0% 79.3%);
}

.layout-project--lg {
  @apply grid lg:grid-cols-[minmax(0,_328px)_minmax(0,_328px)_minmax(0,_328px)_minmax(0,_328px)] md:grid-cols-[minmax(0,_328px)_minmax(0,_328px)_minmax(0,_328px)] grid-cols-[minmax(0,_328px)_minmax(0,_328px)];
}
